h1{
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serifs;
}
h3{
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serifs;
}


.container{
display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "a . . e"
        "b . . f"
        "c . . g"
        "d . . h";
}
.img1{
    grid-area: a;
}
.img2 {
    grid-area: b;
}
.img3 {
    grid-area: c;
}
.img4 {
    grid-area: d;
}
.img5 {
    grid-area: e;
}
.img6 {
    grid-area: f;
}
.img7 {
    grid-area: g;
}
.img8{
    grid-area: h;
}

.size{
    max-width: 1000px;
    height: 200px;
}

