.i1 {
    grid-area: i1;
}
.i2 {
    grid-area: i2;
}
.i3 {
    grid-area: i3;
}
.i4 {
    grid-area: logo;
}
.i5 {
    grid-area: i5;
}
.burger {
    grid-area: burger;
    border: 3px solid black;
}

.shake {
    grid-area: shake;
    border: 3px solid black;
}

.side {
    grid-area: side;
    border: 3px solid black;
}

.salad {
    grid-area: salad;
    border: 3px solid black;
}

.dessert {
    grid-area: dessert;
    border: 3px solid black;
}

.appetizers {
    grid-area: appetizers;
    border: 3px solid black;
}

.beverages {
    grid-area: beverages;
    border: 3px solid black;
}

.kid {
    grid-area: kid;
    border: 3px solid black;
}

.i6{
    grid-area: i6;
}
.container {
    gap: 10px;
    margin: 10px;
    display: grid;
    justify-items: center;
    width: fit-content;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'logo . i5 i5 . i1 i2 i3'
    'i6 i6 i6 i6 i6 i6 i6 i6'
    'burger burger kid kid salad salad appetizers appetizers'
    'shake shake beverages beverages side side dessert dessert';

}

.size {
    max-width: 100%;
    height: 345px;
}

.desc {
    padding: 15px;
    text-align: center;
    color: black;
}

.burger:hover{
    border: 3px solid red;
}

.kid:hover {
    border: 3px solid red;
}

.shake:hover {
    border: 3px solid red;
}

.side:hover {
    border: 3px solid red;
}

.appetizers:hover {
    border: 3px solid red;
}

.burger:hover {
    border: 3px solid red;
}

.beverages:hover {
    border: 3px solid red;
}

.salad:hover {
    border: 3px solid red;
}

.dessert:hover {
    border: 3px solid red;
}

a{
    text-decoration: none;
}