.i1 {
    grid-area: i1;
}
.i2 {
    grid-area: i2;
}
.i3 {
    grid-area: i3;
}
.i4 {
    grid-area: logo;
}
.i5 {
    grid-area: i5;
}
.burger {
    grid-area: burger;
}

.shake {
    grid-area: shake;
}

.side {
    grid-area: side;
}

.salad {
    grid-area: salad;
}

.dessert {
    grid-area: dessert;
}

.appetizers {
    grid-area: appetizers;
}

.beverages {
    grid-area: beverages;
}

.kid {
    grid-area: kid;
}

.i6{
    grid-area: i6;
}
.container {
    gap: 10px;
    margin: 10px;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'logo . i5 i5 . i1 i2 i3'
    'i6 i6 i6 i6 i6 i6 i6 i6'
    'burger burger kid kid salad salad appetizers appetizers'
    'shake shake beverages beverages side side dessert dessert';

}

.size {
    max-width: 100%;
    height: 365px;
}
